{% extends 'core/base.html' %}
{% load static %}
{% block title %}HomePage{% endblock %}
{% block body %}
    <!--Hero Section-->
    <div class="hero-section hero-background">
        <h1 class="page-title">Organic Fruits</h1>
    </div>

    <!--Navigation section-->
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a href="index-2.html" class="permal-link">Home</a></li>
                <li class="nav-item"><span class="current-page">ShoppingCart</span></li>
            </ul>
        </nav>
    </div>

    <div class="page-contain checkout">

        <!-- Main content -->
        <div id="main-content" class="main-content">
            <div class="container sm-margin-top-37px">
                <div class="row">

                    <!--checkout progress box-->
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <div class="checkout-progress-wrap">
                            <ul class="steps">
                                <li class="step 1st">
                                    <div class="checkout-act active">
                                        <h3 class="title-box"><span class="number">1</span>Customer</h3>
                                        <div class="box-content">
                                            <p class="txt-desc">Checking out as a <a class="pmlink" href="#">Guest?</a> You’ll be able to save your details to create an account with us later.</p>
                                            <div class="login-on-checkout">
                                                <form action="#" name="frm-login" method="post" id="form-cart">
                                                    <p class="form-row">
                                                        {% csrf_token %}
                                                        <div class="form-row" id="user-details">
                                                            <label for="input_email">Email Address</label>
                                                            <input type="email" name="email" id="input_email" value="" placeholder="Your email">
                                                            <label for="input_name">Enter your name</label>
                                                            <input type="text" name="name" value="" placeholder="Your Name" class="txt-input">
                                                            <label for="input_phone">Enter your Phone number</label>
                                                            <input type="tel" name="phone" value="" placeholder="Phone Number" class="number">
                                                        </div>
                                                        <div class="form-row" id="user-location">
                                                            <label for="text">Enter your location</label>
                                                            <input type="text" name="county" value="" placeholder="Your County" class="txt-input"><br><br>
                                                            <input type="text" name="address" value="" placeholder="Your Address" class="txt-input">
                                                        </div>
                                                        <p class="form-row">
                                                            <button class="btn" type="submit" id="cart-button" name="btn-sbmt">Continue</button>
                                                        </p>
                                                        <p class="form-row">
                                                            <input type="checkbox" name="subcribe" id="input_subcribe" >
                                                            <label for="input_subcribe">Subscribe to our newsletter</label>
                                                        </p>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="step 2nd">
                                    <div class="checkout-act hidden" id="payment"><h3 class="title-box"><span class="number">2</span>Payment</h3></div>
                                    <div class="login-on-checkout">
                                        <p class="form-row">
                                            <button class="btn hidden" type="submit" id="cart-payment" name="btn-sbmt">Make Payment</button>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--Order Summary-->
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 sm-padding-top-48px sm-margin-bottom-0 xs-margin-bottom-15px">
                        <div class="order-summary sm-margin-bottom-80px">
                            <div class="title-block">
                                <h3 class="title">Order Summary</h3>
                                <a href="#" class="link-forward">Edit cart</a>
                            </div>
                            <div class="cart-list-box short-type">
                                <span class="number">{{ order.get_cart_items }} items</span>
                                <ul class="cart-list">
                                    {% for order_item in order_items %}
                                    <li class="cart-elem">
                                        <div class="cart-item">
                                            <div class="product-thumb">
                                                <a class="prd-thumb" href="#">
                                                    <figure><img src="{{ order_item.product.imageURL }}" width="113" height="113" alt="shop-cart" ></figure>
                                                </a>
                                            </div>
                                            <div class="info">
                                                <span class="txt-quantity">{{ order_item.quantity }}X</span>
                                                <a href="#" class="pr-name">{{ order_item.product.name }}</a>
                                            </div>
                                            <div class="price price-contain">
                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>{{ order_item.product.price }} </span></ins>
                                                <ins><span class="price-amount"><span class="currencySymbol">&nbsp;= £</span>{{ order_item.get_total }}</span></ins>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
{#                                    <li class="cart-elem">#}
{#                                        <div class="cart-item">#}
{#                                            <div class="product-thumb">#}
{#                                                <a class="prd-thumb" href="#">#}
{#                                                    <figure><img src="{% static 'assets/images/shippingcart/pr-02.jpg' %}" width="113" height="113" alt="shop-cart" ></figure>#}
{#                                                </a>#}
{#                                            </div>#}
{#                                            <div class="info">#}
{#                                                <span class="txt-quantity">1X</span>#}
{#                                                <a href="#" class="pr-name">National Fresh Fruit</a>#}
{#                                            </div>#}
{#                                            <div class="price price-contain">#}
{#                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>#}
{#                                                <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li>#}
                                </ul>
                                <ul class="subtotal">
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">Subtotal</b>
                                            <span class="stt-price">{{ order.get_cart_total }}</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">Shipping</b>
                                            <span class="stt-price">£20.00</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">Tax</b>
                                            <span class="stt-price">£0.00</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subtotal-line">
                                            <a href="#" class="link-forward">Promo/Gift Certificate</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">total:</b>
                                            <span class="stt-price">£190.00</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var total = '{{ order.get_cart_total }}'

        if (user !== 'AnonymousUser'){
                document.getElementById('user-details').innerHTML = ''
                document.getElementById('user-details').classList.add('hidden');

                document.getElementById('cart-button').addEventListener('click', function(e){
                    document.getElementById('payment').classList.remove('hidden');
                    document.getElementById('cart-payment').classList.remove('hidden');
                })
            }
        var form = document.getElementById('form-cart')
        form.addEventListener('submit', function (e) {
            e.preventDefault();
            console.log('form-submitted')
            document.getElementById('cart-button').classList.add('hidden')
            document.getElementById('form-cart').classList.add('hidden')
            document.getElementById('payment').classList.remove('hidden')
            document.getElementById('cart-payment').classList.remove('hidden');

            document.getElementById('cart-payment').addEventListener('click', function (e){
                submitFormData()
            })

        })
        function submitFormData(){
            console.log('Payment button clicked')
            var userFormData = {
                'name': null,
                'email': null,
                'phone': null,
                'total': total,
            }
            var shippingInfo = {
                'country': null,
                'county': null,
                'address': null,

            }
            if (user !== 'AnonymousUser'){
                shippingInfo.country = "Kenya"
                shippingInfo.county = form.county.value;
                shippingInfo.address = form.address.value;
            }
            else{
                userFormData.name = form.name.value;
                userFormData.email = form.email.value;
                userFormData.phone = form.phone.value;
                shippingInfo.country = "Kenya"
                shippingInfo.county = form.county.value;
                shippingInfo.address = form.address.value;

            }
            var url = '/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'form': userFormData, 'shippingInfo': shippingInfo})
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                alert('Transaction Complete');

                cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
                window.location.href = "{% url 'home' %}"
            })
        }
    </script>
{% endblock %}